/* ==========================================================================
   Page Layout
   ========================================================================== */
.page {
  max-width: 960px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 64px;
}

@media (min-width: 1024px) {
  .page {
    gap: 128px;
  }

  body {
    padding: var(--space-32);
  }
}
